<h1>New Client</h1>

<%= render 'form', client: @client %>

<%= link_to "<button class='btn btn-light'>Back</button>".html_safe, clients_path, :id=>"open-contacts-dialog-btn", :class=>"inbox-sf-add-btn tip" %>
